@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;

  background: #d3d6e0;
  background: linear-gradient(180deg,rgba(211, 214, 224, 1) 0%, rgba(211, 224, 230, 1) 100%);

  min-height: 100vh;
}
